#main-headline {


text-align: center;

color:red;

}

h2 {
  
text-align: center;


}


color: olive;


font-family: Verdana;


font-style: italic;


font-weight: bold;


color: red;

}


text-decoration: underline;


}

font-style: italic;




}
